<ul>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevour="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}DEVOUR IT!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</ul>
